---
apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  name: hello-again
spec:
  template:
    spec:
      automountServiceAccountToken: false
      serviceAccountName: supply-chain
      containers:
        - name: workload
          image: ghcr.io/knative/helloworld-go
          ports:
            - containerPort: 8080
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            runAsNonRoot: true
            runAsUser: 1001
            seccompProfile:
              type: RuntimeDefault
